VITE_OMS_API=http://localhost:8080
VITE_POSITION_API=http://localhost:8081
VITE_PNL_API=http://localhost:8082
VITE_RISK_API=http://localhost:8083
VITE_MARKET_DATA_API=http://localhost:8084
VITE_ANALYTICS_API=http://localhost:8085
VITE_FIX_API=http://localhost:8086
